# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Geste.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gab\source\repos\opencv-geste-arduino\dotnet\.idea\.idea.Geste.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
